@import "tailwindcss";

:root {
  --background: #FFFDF2;
  --color: #1E2229;
  --card: #FFFFFF;
  --highlight: #0066CC;
}

.dark {
  --background: #16191E;
  --color: #FFFDF2;
  --card: #212630;
  --highlight: #38BDF8;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--color);
  --color-card: var(--card);
  --color-highlight: var(--highlight);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 23px;
}

main {
  padding-top: 4rem;
  min-height: 100vh;
}